body {
    background-color: aqua;
}


img{
    width: 200px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    border-width: 5px;
    
}

h1{
   color:red;
   text-align: center;

   border-style: solid;
        border-radius: 20px;
        border-color: rgba(0, 0, 0, 0.979);
        border-width: 5px;
}